@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 17, 165, 225;
  --background-mid-one-rgb: 19, 120, 200;
  --background-mid-two-rgb: 21, 100, 175;
  --background-mid-three-rgb: 24, 90, 150;
  --background-mid-four-rgb: 26, 50, 125;
  --background-end-rgb: 27, 20, 100;
}

body {
  background: linear-gradient( 189deg,
  rgb(var(--background-start-rgb)) -150%,
  rgb(var(--background-end-rgb)),
  rgb(var(--background-start-rgb)) 250% 
  );
  min-height: 120vh;
}

input {
  color: #000;
}

.react-datepicker__time-list-item--disabled{
  display: none !important;
}
.react-datepicker__input-container input{
  padding: .25rem !important;
}

