@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 17, 165, 225;
  --background-mid-one-rgb: 19, 120, 200;
  --background-mid-two-rgb: 21, 100, 175;
  --background-mid-three-rgb: 24, 90, 150;
  --background-mid-four-rgb: 26, 50, 125;
  --background-end-rgb: 27, 20, 100;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient( 189deg,
    rgb(var(--background-start-rgb)) 10%,
    rgb(var(--background-mid-one-rgb)) 35%,
    rgb(var(--background-mid-two-rgb)) 50%,
    rgb(var(--background-mid-three-rgb)) 60%,
    rgb(var(--background-mid-four-rgb)) 75%,
    rgb(var(--background-end-rgb)) 95%
  );
}

input {
  color: #000;
}
